
.icon-magnify:before { content: '\e800'; } /* '' */
.icon-report:before { content: '\e801'; } /* '' */
.icon-risk:before { content: '\e802'; } /* '' */
.icon-survey:before { content: '\e803'; } /* '' */
.icon-talk:before { content: '\e804'; } /* '' */
.icon-team:before { content: '\e805'; } /* '' */
.icon-algorithm:before { content: '\e806'; } /* '' */
.icon-analytics:before { content: '\e807'; } /* '' */
.icon-book:before { content: '\e808'; } /* '' */
.icon-data:before { content: '\e809'; } /* '' */
.icon-linkedin-in:before { content: '\e80a'; } /* '' */
.icon-experience:before { content: '\e80b'; } /* '' */
.icon-eye:before { content: '\e80c'; } /* '' */
.icon-folder-1:before { content: '\e80d'; } /* '' */
.icon-geometric:before { content: '\e80e'; } /* '' */
.icon-goal-2:before { content: '\e80f'; } /* '' */
.icon-health:before { content: '\e810'; } /* '' */
.icon-idea-1:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-database:before { content: '\e813'; } /* '' */
